# Import Dependencies

In [1]:
import pandas as pd
import io, os, sys, types
from IPython import get_ipython
from IPython.display import display, Javascript, HTML
import json
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import datetime
# from scipy.stats import sem
import os
import pylab 
import scipy.stats as stats
import matplotlib as mpl

plt.style.use('ggplot')
%matplotlib inline
# import DataProcessor as dp

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

from config import api_key
from sqlalchemy import create_engine
import psycopg2

In [2]:
#Import CSV File
df_suicide_rates_data = pd.read_csv("./Data/Suicide_Rates_Data.csv")

df_suicide_rates_data.head()

FileNotFoundError: [Errno 2] File b'./Data/Suicide_Rates_Data.csv' does not exist: b'./Data/Suicide_Rates_Data.csv'

In [ ]:
#Remove columns that we will not be using 
df_suicide_rates_data_new = df_suicide_rates_data
df_suicide_rates_data_new= df_suicide_rates_data_new.drop(['HDIforyear', 'population', 'suicideshundredk', 'country_year'], axis=1)
df_suicide_rates_data_new.head()

In [3]:
#checking the count in each column 
df_suicide_rates_data_new.count()

NameError: name 'df_suicide_rates_data_new' is not defined

In [5]:
# removing zeros from the suicides_no
df_suicide_rates_data_new = df_suicide_rates_data_new[df_suicide_rates_data_new.suicides_no != 0]
df_suicide_rates_data_new.head()

,country,year,sex,age,suicides_no,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,2156624900,796,Boomers

In [6]:
df_suicide_rates_data_new.count()

country           23539
year              23539
sex               23539
age               23539
suicides_no       23539
 gdp_for_year     23539
gdp_per_capita    23539
generation        23539
dtype: int64

In [7]:
#Find range of years in file
preview_df_year=df_suicide_rates_data_new[['year']]
preview_df_year.sort_values(by='year',ascending=False).head()

       year
2167   2016
11673  2016
11671  2016
11670  2016
11669  2016

In [8]:
#Tried to group years from 2011-2016, but we may include all year the years from 1987-2016 to show generatin of suicide rates over time
pd.date_range(start='2011', end='2016')

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-26',
               '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30',
               '2015-12-31', '2016-01-01'],
              dtype='datetime64[ns]', length=1827, freq='D')

In [9]:
# generations of suicide by year
preview_df_gen=df_suicide_rates_data_new[['year','generation']]
preview_df_gen.sort_values(by='generation',ascending=False)

       year generation
22598  2001     Silent
24184  1999     Silent
5959   2011     Silent
11902  2004     Silent
24167  1998     Silent
19505  1997     Silent
11907  2004     Silent
11908  2004     Silent
19501  1997     Silent
5948   2011     Silent
5947   2010     Silent
5946   2010     Silent
11916  2005     Silent
11919  2005     Silent
24177  1999     Silent
11928  2006     Silent
5939   2010     Silent
19493  1996     Silent
11930  2006     Silent
5936   2010     Silent
5935   2009     Silent
19489  1996     Silent
11938  2007     Silent
5960   2012     Silent
11893  2003     Silent
11890  2003     Silent
11867  2001     Silent
24145  1996     Silent
19537  2000     Silent
11849  1999     Silent
...     ...        ...
23163  2005    Boomers
7485   1999    Boomers
13965  2009    Boomers
23158  2005    Boomers
7492   2000    Boomers
13960  2008    Boomers
7497   2000    Boomers
7456   1997    Boomers
13991  2011    Boomers
7402   2015    Boomers
7426   1994    Boomers
7409   2016    Boomers
23229  2011    Boomers
14009  2012    Boomers
7413   2016    Boomers
7420   1994    Boomers
7422   1994    Boomers
7424   1994    Boomers
14003  2012    Boomers
7433   1995    Boomers
7447   1996    Boomers
23211  2009    Boomers
18027  1999    Boomers
7436   1995    Boomers
18029  1999    Boomers
23206  2009    Boomers
13997  2011    Boomers
7444   1996    Boomers
23199  2008    Boomers
27819  2014    Boomers

[23539 rows x 2 columns]

In [10]:
#created dataframe grouping columns to analyze per suicide number
preview_df_all=df_suicide_rates_data_new[['generation','suicides_no', 'age', 'year', 'gdp_per_capita']]
preview_df_all.sort_values(by='suicides_no',ascending=False).head()

      generation  suicides_no          age  year  gdp_per_capita
20996    Boomers        22338  35-54 years  1994            2853
21008    Boomers        21706  35-54 years  1995            2844
21080    Boomers        21262  35-54 years  2001            2229
21068    Boomers        21063  35-54 years  2000            1879
21057    Boomers        20705  35-54 years  1999            1412

In [11]:
#Sum of generation suicides compared to gdp_per_capita. Shows that the higher the gdp, the lower the suicide rate
gen_gdp_data = df_suicide_rates_data_new.groupby(['year', 'generation', 'gdp_per_capita'])['suicides_no'].sum()
#suicides_no = generation['generation'].sum()
print(gen_gdp_data)

year  generation    gdp_per_capita
1985  Boomers       431               1450
                    840                707
                    964                 10
                    1032                 1
                    1223                25
                    1393               238
                    1658               141
                    1729                33
                    1898              1060
                    2044               141
                    2145                35
                    2238               101
                    2706                11
                    2730               401
                    2731               883
                    2912               118
                    3264               242
                    3443                18
                    5009               278
                    5156                58
                    6137                 3
                    6582                51
                    6638                58
                    7317                10
                    7325                38
                    8142                87
                    8246                64
                    8329               467
                    9231               796
                    9356               323
                                      ...
2016  Generation X  64708               11
      Millenials    3788                12
                    4145               245
                    6713              1144
                    10020              266
                    10570               42
                    12905               90
                    13448              200
                    15742              151
                    19505              271
                    25098                8
                    46976              184
                    48108              336
                    55594              264
                    62484               36
                    64708               16
      Silent        3788                14
                    4145                 6
                    6713               221
                    10020              232
                    10570                3
                    12905              144
                    13448              334
                    15742              107
                    19505              165
                    25098                2
                    46976              273
                    48108              210
                    55594              145
                    64708                1
Name: suicides_no, Length: 9701, dtype: int64

In [12]:
#group year and generation columns by suicide numbers
gen_year_data = df_suicide_rates_data_new.groupby(['year', 'generation'])['suicides_no'].sum()
#suicides_no = generation['generation'].sum()
print(gen_year_data)

year  generation
1985  Boomers             20771
      G.I. Generation     40690
      Generation X        18854
      Silent              35748
1986  Boomers             21685
      G.I. Generation     42420
      Generation X        19007
      Silent              37558
1987  Boomers             22309
      G.I. Generation     46517
      Generation X        17367
      Silent              40649
1988  Boomers             21332
      G.I. Generation     44750
      Generation X        16174
      Silent              38770
1989  Boomers             29427
      G.I. Generation     57490
      Generation X        19786
      Silent              53541
1990  Boomers             35276
      G.I. Generation     68118
      Generation X        24725
      Silent              65242
1991  Boomers            103989
      G.I. Generation     20866
      Generation X        23317
      Millenials           1533
      Silent              48315
1992  Boomers            112809
                          ...
2010  Silent              83577
2011  Boomers             59178
      Generation X        85345
      Generation Z         1879
      Millenials          65873
      Silent              24209
2012  Boomers             58443
      Generation X        82482
      Generation Z         1752
      Millenials          62905
      Silent              24578
2013  Boomers             57696
      Generation X        80227
      Generation Z         1806
      Millenials          59317
      Silent              24153
2014  Boomers             57696
      Generation X        79132
      Generation Z         1882
      Millenials          59409
      Silent              24865
2015  Boomers             53588
      Generation X        71298
      Generation Z         1681
      Millenials          53959
      Silent              23114
2016  Boomers              4715
      Generation X         5766
      Millenials           3265
      Silent               1857
Name: suicides_no, Length: 146, dtype: int64

In [13]:
#highest frequency of suicide number by generation. Shows that generation x committed the highest rate of suicide compared to the other generations
gen_freq_data = df_suicide_rates_data_new.groupby(['generation']) ['suicides_no'].count()

print(gen_freq_data)

generation
Boomers            4568
G.I. Generation    2251
Generation X       5638
Generation Z        984
Millenials         4716
Silent             5382
Name: suicides_no, dtype: int64

In [14]:
#grouped to show relationship among generation, year, suicides_no, and gdp_per_capita
df_suicide_stats = df_suicide_rates_data_new[['generation', 'year', 'suicides_no', 'gdp_per_capita']]
print(df_suicide_stats)

            generation  year  suicides_no  gdp_per_capita
0         Generation X  1987           21             796
1               Silent  1987           16             796
2         Generation X  1987           14             796
3      G.I. Generation  1987            1             796
4              Boomers  1987            9             796
5      G.I. Generation  1987            1             796
6               Silent  1987            6             796
7              Boomers  1987            4             796
8      G.I. Generation  1987            1             796
12     G.I. Generation  1988            2             769
13        Generation X  1988           17             769
14     G.I. Generation  1988            1             769
15              Silent  1988           14             769
16     G.I. Generation  1988            4             769
17        Generation X  1988            8             769
18     G.I. Generation  1988            3             769
19             Boomers  1988            5             769
20             Boomers  1988            5             769
21              Silent  1988            4             769
24     G.I. Generation  1989            2             833
25             Boomers  1989           18             833
26              Silent  1989           15             833
27     G.I. Generation  1989            6             833
28        Generation X  1989           12             833
29              Silent  1989            7             833
30        Generation X  1989            5             833
31             Boomers  1989            2             833
32     G.I. Generation  1989            1             833
36             Boomers  1992           12             251
37        Generation X  1992            9             251
...                ...   ...          ...             ...
27790       Millenials  2012          148            1964
27791     Generation X  2012           89            1964
27792     Generation Z  2012           67            1964
27793          Boomers  2012           25            1964
27794           Silent  2012            4            1964
27795     Generation Z  2012           16            1964
27796     Generation X  2013          481            2150
27797       Millenials  2013          328            2150
27798       Millenials  2013          323            2150
27799       Millenials  2013          320            2150
27800          Boomers  2013          119            2150
27801           Silent  2013           13            2150
27802       Millenials  2013          146            2150
27803     Generation X  2013           99            2150
27804           Silent  2013            8            2150
27805     Generation Z  2013           61            2150
27806          Boomers  2013           21            2150
27807     Generation Z  2013           31            2150
27808     Generation X  2014          519            2309
27809       Millenials  2014          318            2309
27810       Millenials  2014          347            2309
27811          Boomers  2014          144            2309
27812       Millenials  2014          347            2309
27813           Silent  2014           17            2309
27814       Millenials  2014          162            2309
27815     Generation X  2014          107            2309
27816           Silent  2014            9            2309
27817     Generation Z  2014           60            2309
27818     Generation Z  2014           44            2309
27819          Boomers  2014           21            2309

[23539 rows x 4 columns]

In [15]:
#correction between generation, year, suicides_no, and gdp_per_capita ($)
df_suicide_stats.corr(method ='pearson')

                    year  suicides_no  gdp_per_capita
year            1.000000    -0.006088        0.336281
suicides_no    -0.006088     1.000000        0.060750
gdp_per_capita  0.336281     0.060750        1.000000

In [19]:
#making a connection to the database 
rds_connection_string = "postgres:" + api_key + "@localhost:5432/suicides_rates_db"
rds_connection_string

'postgres:Happytoujours34@localhost:5432/suicides_rates_db'

In [20]:

# postgres://user:password@hostname:port/dbname

In [21]:
engine = create_engine(f'postgresql://{rds_connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/suicides_rates_db)

In [22]:
engine.table_names()

['suicide_rates_db']

In [24]:
df_suicide_rates_data_new.to_sql('suicides_rates_db', engine, if_exists='append')

In [25]:

pd.read_sql_query('select * from suicides_rates_db', con=engine).head()

,index,country,year,sex,age,suicides_no,gdp_for_year,gdp_per_capita,generation
0,0,Albania,1987,male,15-24 years,21,2156624900,796,Generation X
1,1,Albania,1987,male,35-54 years,16,2156624900,796,Silent
2,2,Albania,1987,female,15-24 years,14,2156624900,796,Generation X
3,3,Albania,1987,male,75+ years,1,2156624900,796,G.I. Generation
4,4,Albania,1987,male,25-34 years,9,2156624900,796,Boomers